*
    margin: 0
    padding: 0

body
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    main
        height: 85%
        width: 90%
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center

        #ContentContainer
            height: 100%
            width: 65%

            h1
                margin-top: 10%
                margin-bottom: 5%

            p
                font-size: 34px

        #FormContainer
            height: 100%
            width: 35%
            display: flex
            justify-content: center
            align-items: center

            form
                height: 700px
                width: 480px
                display: flex
                border: 5px black solid
                border-radius: 2rem
                justify-content: space-evenly
                align-items: center
                flex-direction: column

                #FormDatasContainer
                    height: 65%
                    width: 60%

                    #InputsContainer
                        height: 90%
                        display: flex
                        flex-direction: column
                        justify-content: space-evenly

                        input
                            height: 30px
                    
                    #OperationContainer
                        display: flex
                        flex-direction: row
                        justify-content: space-around
                
                #SubmitContainer
                    height: 35%
                    width: 60%
                    display: flex
                    justify-content: center
                    align-items: center 

                    #SubmitButton
                        height: 50px
                        width: 200px
                    