$blue: #0864fc
$red: #fc6480
$DarkGray: #4e5672
$LightGray: #7c8cb2

body, html
    width: 100%
    height: 100%
    margin: 0
    padding: 0

    scroll-behavior: smooth
    overflow-x: hidden
    font-family: 'Signika Negative', sans-serif